/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--content-font), sans-serif;
  background-attachment: fixed;
  background-size: cover;
  padding-block-start: 100px;
  background-color: var(--bg-color-main);
}

.theme-menu__item {
  margin-inline-start: 15px;
}

.theme-menu__button {
  position: relative;
  font-family: var(--accent-font), fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--text-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -10px;
  opacity: 0.6;
  animation-name: choice;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: min(100%, 700px);
  background-color: var(--bg-color-main);
  margin-block-end: 102px;
  font-family: PressStart2P, fantasy;
  padding-block-start: clamp(7.5rem, 6.786rem + 1.905vw, 8.5rem);
  padding-block-end: 25px;
  font-weight: 400;
  text-transform: uppercase;
  margin-block-end: 100px;
  border: 1px solid var(--text-color);
}

.header__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__anchor {
  text-decoration: none;
  font-size: clamp(3.063rem, 2.348rem + 1.905vw, 4.063rem);
}

.header__text {
  font-size: clamp(0.875rem, 0.473rem + 1.071vw, 1.438rem);
  font-family: var(--accent-font), fantasy;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color-main);
  margin: 0 auto;
  max-width: 696px;
  margin-block-end: 52px;
  outline: 1px solid var(--text-color);
  position: relative;
}

.card__heading {
  padding: 3px 10px;
  font-size: 18px;
  line-height: 25px;
  font-variation-settings: "wght" var(--heading-weight-text);
}

.card__image {
  width: 100%;
  object-fit: cover;
  /* object-position: center; */
  outline: 1px solid var(--text-color);
  aspect-ratio: 1 / 1;
}

.card__text {
  display: flex;
  flex-direction: column;
  margin: 25px;
  gap: 25px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" var(--content-weight-text);
}

.card__image-container {
  display: flex;
  flex-direction: column;
}

.card__image-container-label {
  align-self: flex-end;
  position: absolute;
  top: 32px;
  right: 0;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  margin-block-start: 25px;
  margin-inline-end: 25px;
  text-shadow: 0 0 var(--text-stroke);
}

@supports ((-webkit-text-stroke: 1px var(--text-stroke))) {
  .card__image-container-label {
    -webkit-text-stroke: 1px var(--text-stroke);

    text-shadow: none;
  }
}

.button__container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0 10px;
}

.button__text {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid var(--text-color);
  padding: 12.5px 37px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.button__text-like {
  margin-block-end: 25px;
  margin-inline-end: 25px;
}

.button__text:focus {
  outline: none;
}

.button__text:focus-visible {
  box-shadow: 2px 2px 0 0 var(--text-color);
}

.svg__image {
  width: 100%;
  height: 100%;
}

.button__text::before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  background-color: var(--button-bg);
  mix-blend-mode: difference;
  width: 100%;
  height: 100%;
  padding: 12.5px 37px;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
  transform-origin: left center;
}

.button__text:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  margin: 0;
  padding: 0;
  height: 100%;
  transform-origin: center;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  outline: 1px solid var(--text-color);
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--bg-color-main);
  padding: 15px 20px;
  outline: 1px solid var(--text-color);
  margin-block-end: 100px;
}

.footer__floppy {
  width: 21px;
  height: 21px;
}

.dialog {
  border: 2px solid var(--text-color);
  padding: 30px;
  font-family: var(--accent-font), fantasy;
  background-color: var(--bg-color-main);
  color: var(--text-color);
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  max-width: 234px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.dialog__button {
  border: 2px solid var(--text-color);
  width: 100%;
  padding: 12px 0;
}

.dialog__floppy {
  width: 39px;
  height: 39px;
}

.like-icon:hover .core {
  fill: var(--text-color);
  transition: fill 0.3s linear;
}

.like-icon:not(:hover) .core {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--text-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:not(:hover).main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--fill-like);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--fill-like);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-like);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--fill-like);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-like);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .heart {
  animation-name: heart;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  transform-origin: center;
  animation-direction: alternate;
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

.image__blur {
  filter: blur(2px);
}

.image__brightness {
  filter: brightness(45%);
}

.image__sepia {
  filter: sepia(0.6);
}

.image__saturate {
  filter: saturate(220%);
}

.image__hue-rotate {
  filter: hue-rotate(-180deg);
}

.image__many {
  filter: invert(20%) hue-rotate(-180deg) saturate(50%) sepia(45%);
}

.image__opacity {
  filter: opacity(75%);
}

@media (width<=375px) {
  .footer {
    flex-direction: column;
  }

  .footer__floppy {
    width: 28px;
    height: 28px;
  }

  .card__image-container-label {
    margin-inline-end: 13px;
  }
}
