/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --heading-weight-text: 700;
  --content-weight-text: 400;
  --accent-font: PressStart2P;
  --content-font: Inter-Variable;
  --bg-color-main: #fff;
  --text-color: #000;
  --button-bg: #ffffff;
  --text-stroke: #ffffff;
  --fill-like: #ff0000;
}
